#cont{
    display: flex;
    flex-direction: row;

}
.goods{
    width: 500px;
}
.goods article{
    float: bottom;
    padding-right: 40px;
}
#listHide{
    display: none;
}
#list{
    display: block;
}
#onReg{
    float: right;
}

